# Docker-specific
*.log
.env
*.db

# Ignore virtual environments
venv/

#Ignore API KEys
/app/cred.py

#Ignore _PYCACHE_
__pycache__/

#Ignore Pycaches
/app/__pycache__/
/Tests/__pycache__/

#Ignore data folder
/data/

